* { margin: 0; padding: 0; vertical-align: top; box-sizing: border-box;}
li { list-style: none; }
a { text-decoration: none; color: inherit; }
p { word-break: keep-all; }
img { border: 0; max-width: 100%; }

body {
   font-family: "Inria Serif", serif;
    max-width: 1920px; min-width: 320px; margin: 0 auto;
}
button, input, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}